<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>
<body>
    <section>
        <div class="flex items-center justify-center gap-[50px] mt-[150px] max-md:flex-col max-md:mt-[100px]">
            <div class="max-md:ml-[15%]">
                <h2>Quick & Easy Process</h2>
                <p class="gray w-[453px] max-md:w-[330px] mt-[30px]">Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan <br> their schedule.</p>
                <div class="flex gap-[20px] mt-[30px] max-md:flex-col">
                    <p class="bg-[#03D6F3] w-[200px] p-[10px] text-white shadow-[0px_0px_30px_#00000026] rounded-[50px] text-center max-md:w-[260px] hover:bg-green-400 hover:text-white">sign up for free</p>
                    <p class="text-[#30D7BA] border-[1px] border-[solid] border-[#30D7BA] shadow-[0px_0px_30px_#00000026] w-[200px] p-[10px] rounded-[50px] text-center max-md:w-[260px] hover:text-blue-600">find out more</p>
                </div>
            </div>
            <img src="../images/Frame 18 (1).png" alt="">
        </div>
    </section>
</body>
</html>