<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>
<body>
    <section class="border-b-[2px] border-b-[solid] border-b-[#cdcdcd] mb-[100px]">
        <div>
            <h2 class="max-md:w-[344px] text-center m-auto">Simple Pricing for Your Team</h2>
            <p class="gray max-md:w-[284px] text-center m-auto mt-[20px]">Slate helps you see how many more days you need </p>
        </div>
        <div class="flex justify-center items-center max-md:flex-col gap-[30px] mt-[50px] mb-[120px]">
            <div class="w-[335px] h-auto border-[2px] border-[solid] border-[#cdcdcd] rounded-[10px]">
                <div>
                    <h3 class="text-center pt-[50px]">Education</h3>
                    <p class="text-[13px] font-semibold text-center mt-10px">Brief price Description</p>
                    <img class="m-auto mt-[30px]" src="../images/Rectangle 5 (1).png" alt="">
                    <div class="flex gap-[10px] justify-center mt-[20px]">
                        <p class="text-[60px] font-black text-[#30D7BA]">0</p>
                        <div>
                            <p class="text-[#30D7BA] text-[30px] font-extrabold">$</p>
                            <p class="gray">Per/ month</p>
                        </div>
                    </div>
                    <div class="text-center mt-[30px]">
                        <p>Only 2 Operators</p>
                        <p class="mt-[20px]">Abandoned Cart</p>
                        <p class="mt-[20px]">Facebook & Instagram Ads</p>
                        <p class="mt-[20px] text-gray-500">Order Notifications</p>
                        <p class="mt-[20px] text-gray-500">Landing Pages</p>
                    </div>
                    <p class="bg-[#03D6F3] w-[220px] p-[10px] max-md:p-[10px] text-white shadow-[0px_0px_30px_#00000036] rounded-[50px] text-center max-md:w-[220px] hover:bg-green-400 hover:text-white m-auto mt-[30px] mb-[30px]">Order Now</p>
                </div>
            </div>
            <div class="w-[335px] h-auto border-[2px] border-[solid] border-[#cdcdcd] rounded-[10px]">
                <div>
                    <h3 class="text-center pt-[50px]">Professional</h3>
                    <p class="text-[13px] font-semibold text-center mt-10px">Brief price Description</p>
                    <img class="m-auto mt-[30px]" src="../images/Rectangle 5 (2).png" alt="">
                    <div class="flex gap-[10px] justify-center mt-[20px]">
                        <p class="text-[60px] font-black text-[#30D7BA]">10</p>
                        <div>
                            <p class="text-[#30D7BA] text-[30px] font-extrabold">$</p>
                            <p class="gray">Per/ month</p>
                        </div>
                    </div>
                    <div class="text-center mt-[30px]">
                        <p>Only 2 Operators</p>
                        <p class="mt-[20px]">Abandoned Cart</p>
                        <p class="mt-[20px]">Facebook & Instagram Ads</p>
                        <p class="mt-[20px]">Order Notifications</p>
                        <p class="mt-[20px] text-gray-500">Landing Pages</p>
                    </div>
                    <p class="bg-[#03D6F3] w-[220px] p-[10px] max-md:p-[10px] text-white shadow-[0px_0px_30px_#00000036] rounded-[50px] text-center max-md:w-[220px] hover:bg-green-400 hover:text-white m-auto mt-[30px] mb-[30px]">Order Now</p>
                </div>
            </div>
            <div class="w-[335px] h-auto border-[2px] border-[solid] border-[#cdcdcd] rounded-[10px]">
                <div>
                    <h3 class="text-center pt-[50px]">Business</h3>
                    <p class="text-[13px] font-semibold text-center mt-10px">Brief price Description</p>
                    <img class="m-auto mt-[30px]" src="../images/Rectangle 5 (3).png" alt="">
                    <div class="flex gap-[10px] justify-center mt-[20px]">
                        <p class="text-[60px] font-black text-[#30D7BA]">99</p>
                        <div>
                            <p class="text-[#30D7BA] text-[30px] font-extrabold">$</p>
                            <p class="gray">Per/ month</p>
                        </div>
                    </div>
                    <div class="text-center mt-[30px]">
                        <p>Only 2 Operators</p>
                        <p class="mt-[20px]">Abandoned Cart</p>
                        <p class="mt-[20px]">Facebook & Instagram Ads</p>
                        <p class="mt-[20px]">Order Notifications</p>
                        <p class="mt-[20px] text-gray-500">Landing Pages</p>
                    </div>
                    <p class="bg-[#03D6F3] w-[220px] p-[10px] max-md:p-[10px] text-white shadow-[0px_0px_30px_#00000036] rounded-[50px] text-center max-md:w-[220px] hover:bg-green-400 hover:text-white m-auto mt-[30px] mb-[30px]">Order Now</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>