<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>
<body>
    <section class="mt-[150px] max-md:mt-[100px]">
        <div class="ml-[15%] hidden max-md:block">
            <h2 class="w-[327px]">OpenType features and Variable fonts</h2>
            <p class="gray w-[453px] max-md:w-[330px] mt-[30px]">Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan <br> their schedule.</p>
            <p class="mt-[30px]">LEARN MORE</p>
        </div>
        <div class="flex justify-center items-center gap-[50px] max-md:flex-col max-md:gap-[0px]">
            <img src="../images/Frame 18 (2).png" alt="">
            <div class="">
                <h2 class="w-[522px] max-md:hidden">Perfect for Operations HR and Finance</h2>
                <p  class="gray w-[453px] max-md:w-[330px] mt-[30px] max-md:hidden">Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan <br> their schedule.</p>
                <button  class="bg-[#03D6F3] w-[120px] p-[10px] text-white rounded-[50px] text-center hover:bg-green-400 hover:text-white mt-[30px] max-md:mt-[0px]">Button</button>
            </div>
        </div>
    </section>
</body>
</html>