<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>
<body>
    <section>
        <h2 class="text-center">SUBSCRIBE</h2>
        <p class="gray mt-[20px] text-center">Subscribe to get exclusive news & offer</p>
        <div class="bg-[#f7f7f7] max-md:bg-white flex max-md:flex-col gap-[10px] w-[510px] m-auto mt-[70px]">
            <input class="bg-[#EFEFEF] p-[10px] max-md:pl-[150px] pl-[30px] border-[1px] border-[solid] border-[#D0D0D0] rounded-[5px] w-[320px] max-md:w-[95%] m-auto font-bold" placeholder="Enter Your Adress Email" type="text">
            <button  class="bg-[#03D6F3] w-[180px] max-md:w-[95%] m-auto max-md:rounded-[5px] p-[10px] text-white rounded-[50px] text-center hover:bg-green-400 hover:text-white">SUBSCRIBE</button>
        </div>
    </section>
</body>
</html>