<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>
<body>
    <section class="mt-[150px] max-md:mt-[100px]">
        <div class="flex justify-center items-center gap-[30px] max-md:flex-col">
            <div>
                <h2 class="max-md:text-center">Perfect solution<br>for small<br>businesse</h2>
                <p class="gray w-[253px] max-md:w-[353px] max-md:text-center max-md:m-auto max-md:mt-[20px] mt-[30px]">Being a freelancer is a rollercoaster of emotions. We built Slate to keep your freelance business less stressful. We'd love to show you what we're building...</p>
                <div class="flex gap-[10px] mt-[30px] max-md:flex-col">
                    <p class="bg-[#03D6F3] w-[190px] p-[10px] max-md:p-[20px] text-white shadow-[0px_0px_30px_#00000026] rounded-[50px] text-center max-md:w-[260px] hover:bg-green-400 hover:text-white max-md:m-auto">sign up for free</p>
                    <p class="text-[#30D7BA] border-[1px] border-[solid] border-[#30D7BA] shadow-[0px_0px_30px_#00000026] w-[190px] p-[10px] max-md:p-[20px] rounded-[50px] text-center max-md:w-[260px] hover:text-blue-600 max-md:m-auto">find out more</p>
                </div>
            </div>
            <img src="../images/Frame 19.png" alt="">
        </div>
    </section>
</body>
</html>